/******* 
font 
*******/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: "Montserrat", serif; */

/******* 
reset 
*******/
* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/******* 
common 
*******/
a {

    text-decoration: none;
}

ul {

    list-style-type: none;
}

h2,
h4 {

    color: #FFFFFF;
}

h2 {

    margin-bottom: 35px;
}

.hidden-element {

    display: none;
}

.text-uppercase {

    text-transform: uppercase;
}

.text-bold {

    font-weight: bold;
}

/* collection */
.album-box {

    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.album {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: calc((100% - 10px) / 2);
    text-align: center;
}

.album img {

    width: 100%;
    margin-bottom: 10px;
}

.album p {

    color: #797C80;
    font-size: 0.7rem;
}

/******* 
body 
*******/
body {

    height: 100vh;
    font-family: "Montserrat", serif;
}

/*** top page ***/
.top-page {

    background-color: #ffffff;
    height: calc(100% - 90px);
    display: flex;
}

/** left-box **/
.left-box {

    width: 55px;
    height: 100%;
    flex-shrink: 0;
    background-color: #000000;
    padding: 10px 15px 20px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.left-box * {

    color: #989898;
}

/* logo */

.logo-box {

    margin-bottom: 20px;
}

/* main nav */
.box-icon-nav {

    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.box-icon-nav img {

    width: 100%;
}

/* playlist */
.box {

    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

/* user */
.user-link-box {

    background-color: #666666;
    border-radius: 50%;
}

/** right-box **/
.right-box {

    flex-grow: 1;
    display: flex;
    overflow: auto;
}

/* top box */
.top-box {

    height: 90px;
    background-color: #10151B;
}

/* bottom box */
.bottom-box {

    flex-grow: 1;
    background-color: #151922;
    padding: 20px;
}

/* nav bar */
.nav-bar ul {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    margin-bottom: 45px;
}

.nav-bar ul a {

    color: #797C80;
    font-size: 0.75rem;
}

/*** bottom page ***/
.bottom-page {

    background-color: #282828;
    height: 90px;
}
/******* 
responsive 
*******/

/* small size */
@media screen and (min-width: 576px) {
    
    /* common */
    .ico-text {

        display: flex;
        align-items: center;
        gap: 10px;
    }

    .box-icon-nav a,
    .download-box a {

        width: 15%;
    }

    .hidden-element {

        display: block;
    }

    /*** top page ***/

    /** left box **/
    .left-box {

        width: 230px;
        padding: 15px 10px;
        display: flex;
        flex-direction: column;
    }

    /* logo */
    .logo-box {

        margin-bottom: 30px;
    }

    .logo-box a:first-child {

        display: none;
    }

    .logo-box a:last-child {

        display: block;
    }

    /* main nav */
    .main-nav {

        margin-bottom: 40px;
    }

    .box-icon-nav {

        gap: 10px;
    }  

    /* playlist */
    .box {

        justify-content: space-between;
    }

    .playlist-box h5 {

        color: #FFFFFF;
        margin-bottom: 15px;
    }

    .creation-playlist-box {

        margin-bottom: 30px;
    }

    .creation-playlist-box a {

        padding: 15px 18px;
        background-color: #989898;
    }

    .creation-playlist-box a i {

        color: #000000;
    }

    .playlist-box li {

        margin-bottom: 20px;
    }

    /* user */
    .user-box {

        margin-top: 10px;
    }

    .user-link-box {

        width: 15%;
        padding-left: 5px;
    }

    .user-link-box img {

        width: 80%;
        margin: 0 auto;
    }
}

/* medium size */
@media screen and (min-width: 768px) {
    
    /* common */
    .album {

        width: calc((100% - 30px) / 4);
    }
}

/* large size */
@media screen and (min-width: 992px) {

    /* common */
    .album {

        width: calc((100% - 50px) / 6);
    }
}