/******* 
font 
*******/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: "Montserrat", serif; */

/******* 
reset 
*******/
* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/******* 
body 
*******/
body {

    height: 100vh;
}

/*** top page ***/
.top-page {

    background-color: #ffffff;
    height: calc(100% - 90px);
    display: flex;
}

/** left-box **/
.left-box {

    width: 55px;
    height: 100%;
    background-color: #000000;
}

/* top box */
.top-box {

    height: 90px;
    background-color: #10151B;
}

/* bottom box */
.bottom-box {

    height: calc(100% - 90px);
    background-color: #151922;
}

/** right-box **/
.right-box {

    width: calc(100% - 55px);
    height: 100%;
}

/*** bottom page ***/
.bottom-page {

    background-color: #282828;
    height: 90px;
}

/******* 
responsive 
*******/

/* tablet size */
@media screen and (min-width: 768px) {
    
}

/* desktop size */
@media screen and (min-width: 992px) {
    
}