/******* 
font 
*******/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: "Montserrat", serif; */

/******* 
reset 
*******/
* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/******* 
responsive 
*******/

/* tablet size */
@media screen and (min-width: 768px) {
    
}

/* desktop size */
@media screen and (min-width: 992px) {
    
}