/******* 
font 
*******/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: "Montserrat", serif; */

/******* 
reset 
*******/
* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/******* 
common 
*******/
a {

    text-decoration: none;
}

.hidden-element {

    display: none;
}

.text-uppercase {

    text-transform: uppercase;
}

/******* 
body 
*******/
body {

    height: 100vh;
}

/*** top page ***/
.top-page {

    background-color: #ffffff;
    height: calc(100% - 90px);
    display: flex;
}

/** left-box **/
.left-box {

    width: 55px;
    height: 100%;
    background-color: #000000;
    padding: 10px 15px 20px;
}

.left-box * {

    color: #989898;
}

/* logo */

.logo-box {

    margin-bottom: 20px;
}

/* main nav */
.box-icon-nav {

    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.box-icon-nav img {

    width: 100%;
}

/* playlist */
.creation-playlist-box {

    display: flex;
    gap: 10px;
    align-items: center;
}

.playlist-box h4 {

    color: #FFFFFF;
    margin-bottom: 15px;
}

.creation-playlist-box {

    margin-bottom: 30px;
}

.creation-playlist-box a {

    padding: 15px;
    background-color: #989898;
}

.creation-playlist-box a i {

    color: #000000;
}

.playlist-box li {

    margin-bottom: 20px;
}

/** right-box **/
.right-box {

    width: calc(100% - 55px);
    height: 100%;
}

/* top box */
.top-box {

    height: 90px;
    background-color: #10151B;
}

/* bottom box */
.bottom-box {

    height: calc(100% - 90px);
    background-color: #151922;
}

/*** bottom page ***/
.bottom-page {

    background-color: #282828;
    height: 90px;
}

/******* 
responsive 
*******/

/* tablet size */
@media screen and (min-width: 768px) {
    
}

/* desktop size */
@media screen and (min-width: 992px) {
    
    /*** top page ***/
    .top-page {

        height: calc(100% - 85px);
    }

    /** left box **/
    .left-box {

        width: 230px;
        padding: 15px 10px;
    }

    /* logo */
    .logo-box {

        margin-bottom: 30px;
    }

    .logo-box a:first-child {

        display: none;
    }

    .logo-box a:last-child {

        display: block;
    }

    /* main nav */
    .box-icon-nav {

        gap: 10px;
    }

    .box-icon-nav a img {

        width: 25px;
    }

    .box-icon-nav .hidden-element {

        display: block;
    }

    /** right box **/
    .right-box {

        width: calc(100% - 230px);
    }

    /*** bottom page ***/
    .bottom-page {

        height: 85px;
    }
}